.dz-bnr-inr {
    --dz-banner-height: 260px;
    min-height: var(--dz-banner-height);
    background-size: cover;
    background-position: center;
    background-color: #fbfbfb;
    position: relative;
    z-index: 2;
    width: 100%;
}
.dz-bnr-inr .container {
    display: table;
    height: 100%;
}
.dz-bnr-inr .dz-bnr-inr-entry {
    height: var(--dz-banner-height);
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding: 165px 0 80px 0;
}
.dz-bnr-inr h1, .dz-bnr-inr .h1 {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #FFF;
    text-transform: capitalize;
}
.breadcrumb-row ul li {
    padding: 0;
    margin-right: 3px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #FFF;
}
.breadcrumb-row ul li a {
    color: #FFF;
    font-weight: 400;
}
.dz-bnr-inr.style-1 .dz-bnr-inr-entry {
    text-align: center !important;
}
.breadcrumb-row ul .breadcrumb-item + .breadcrumb-item::before {
    content: "\f105";
    float: left;
    color: #FFF;
    font-weight: 700;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    padding-right: 12px;
    top: 0px;
    position: relative;
}
.breadcrumb-row ul {
    padding: 0;
    display: inline-block;
}
@media (min-width: 1200px) {
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}


.filter-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.filter-wrapper .filter-left-area {
    flex: 1;
}
.filter-wrapper .filter-left-area, .filter-wrapper .filter-right-area {
    display: flex;
    align-items: center;
}
.filter-tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter-tag li {
    padding: 5px 0;
}
.tag-btn {
    /* padding: 6px 10px; */
    padding: 3px 10px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    color: var(--title);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag-btn i {
    font-size: 18px;
    color: #000;
}
.icon-x:before {
    content: "\e8f6";
}
.tag-btn i {
    font-size: 18px;
    color: #000;
}
.filter-wrapper .filter-left-area span, .filter-wrapper .filter-right-area span {
    font-size: 14px;
    color: var(--title);
    font-weight: 400;
}
.filter-wrapper .filter-left-area, .filter-wrapper .filter-right-area {
    display: flex;
    align-items: center;
}
.panel-btn {
    display: none;
    /* padding: 5px 18px; */
    color: var(--title);
}
.filter-wrapper .filter-right-area .form-group {
    display: flex;
    align-items: center;
    padding: 0;
    background: none;
}
.panel-btn {
    display: none;
    /* padding: 5px 18px; */
    color: var(--title);
}
.border-start-0 {
    border-left: 0 !important;
}
.filter-wrapper .filter-right-area .form-group .default-select:not(select), .filter-wrapper .filter-right-area .form-group .bootstrap-select {
    width: auto !important;
    border: none;
}
.default-select{
    border:none;
}
.filter-wrapper .shop-tab .nav .nav-item .nav-link {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 575px) {
    /* .myfilter{
        display:none
    } */
}
@media only screen and (max-width: 1480px) {
    .filter-tag {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .filter-wrapper {
        display: block;
    }
   
}
.filter-wrapper .filter-left-area, .filter-wrapper .filter-right-area {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 575px) {
    /* .filter-wrapper .filter-right-area .Category {
        display: none;
    } */
}

.noUi-base, .noUi-connects {
    width:95% !important;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-btn {
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .page-btn.active,
  .page-btn:hover {
    background: #007bff;
    color: white;
  }

  .widget_search .form-group .input-group-addon {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 9;
}

.widget-title {
    position: relative;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
}
.widget_categories ul li {
    padding: 8px 0rem 8px 0 !important;
    color: #000;
    font-weight: 600;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 0.625rem 0rem 0.625rem 1rem !important;
    line-height: 1.3 !important;
}
.widget {
    margin-bottom: 20px;
}
.mycateshoplist .active{
    background-color: #fabe25;
}