.about-thumb.shape-03 img {
    border-radius: 150px 0 0 0;
    height: 235px;
    object-fit: cover;
    width: 100%;
}
.about-thumb.shape-04 img {
    height: 235px;
    object-fit: cover;
    border-radius: 150px 150px 0 0;
}
.myabout .dz-accordion .accordion-item {
    border-radius: 0;
    overflow: hidden;
    background: #FFEDE9;
    margin-bottom: 20px;
    border: 0;
}
.myabout .dz-accordion.accordion-sm .accordion-header .accordion-button {
    padding: 18px 55px 18px 25px;
    border:1px solid
}
.about-sale .about-content .title {
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 0;
}
.section-head.style-3 .title {
    font-size: 42px;
}
.section-head.style-3 p {
    color: #000;
}
.section-head p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.author-bx-detail {
    display: flex;
    align-items: center;
}
.author-bx-detail .author-bx-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.author-bx-detail .name {
    font-size: 22px;
    color: var(--title);
    margin-bottom: 0;
}
.author-bx-detail .position {
    font-size: 16px;
    color: #000;
}
.about-thumb.shape-05 img {
    height: 512px;
    object-fit: cover;
    border-radius: 0 150px 0 0;
}
.companies .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.companies .section-inner .section-head.style-2, .companies .section-inner .section-head.style-3 {
    display: block;
    max-width: 300px;
    margin-bottom: 0;
}
.companies .section-inner .companies-media {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    width: 100%;
    float: right;
    min-height: 100px;
}
.companies .section-inner .companies-media:hover img {

    animation: toBottomFromTop 0.5s forwards;
}
@keyframes toBottomFromTop {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    
    51% {
        opacity: 1;
    }
}
@media only screen and (max-width: 767px) {
    .companies .section-inner .companies-inner {
        justify-content: center;
    }
}
@media only screen and (max-width: 991px) {
    .companies .section-inner .section-head.style-3 {
        max-width: 100%;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 991px) {
    .companies .section-inner {
        display: unset;
    }
}